
/*
 * Device42 API
 *
 * <b><h2>API Overview</h2></b><br>Restful API are supported in Device42 as one of the primary methods of entering, editing and retrieving data.<br><br> The API documentation has samples in curl for now and we will be adding other programming languages in future. You can refer to our github repositories at https://github.com/device42 for some sample code in python.<br><br> The RESTful API's enforce the role-based security that is created with the Device42 app. If you want a user to have access via the API, but not via the UI - deselect 'Staff Status' for that user from UI Tools > Admins & Permissions > Administrators.<br><br>If you'd like to see your changes on our UI, please visit http://swaggerdemo.device42.com and use credentials 'guest:device42_rocks!'. Please be aware that every 30 minutes our database resets and all data entered with POST/PUT calls from this page will be lost.<br><br>If you have any questions/suggestions, please send us a note to support at device42.com below. <br><h2><a id = 'Sample_API_Code'><b>Sample API Code</b></a></h2> <b>Sample Code with API Calls in the Python and .Net Programming Languages.</b><br>The following programs written in the Python programming language are available at <a href= 'https://github.com/device42/Device42-AutoDiscovery-Scripts'>Device42 sample programs</a><br><ul><li>api-sample.py: Runs against a single Windows system and uploads info to device42 appliance.</li><li>ad-sample.py: Can run against Active directory computers, servers or a given list and upload discovered systems’ info to device42 appliance.</li><li>d42_api_linux_upload_sample_script.py: Runs on a single *nix based system and uploads info to device42 appliance.</li><li>sample-script-facter-facts-to-d42: Runs on puppet master and uploads nodes info from facter fact files to device42 appliance.</li><li>d42_api_solaris_sample_script.py: Runs on an individual solaris system and uploads info to device42 appliance.</li></ul>The csv2d42apis.py sample program shows how to create a CSV file of data to import into device42. It reads a CSV file, matches columns to arguments for APIs and sends data to device42 via POST or PUT. This program can be found at: <a href= 'https://github.com/device42/API_Helpers'> Device42 sample CSV importer</a>.<br><br>The Auto Discovery Client source code can be found at Device42 <a href='https://docs.device42.com/auto-discovery/'>Auto Discovery Client</a>. This is a .net program that uses the device42 Restful API’s to load the discovered data.<h2><a id = 'Response_Status_Messages'><b>Response & Status Messages</b></a></h2><b>Responses</b><br>The response to most POST calls will have the following format: <br>{'msg':['PartModel added/updated', 17, 'RAM Acme 123456', true, true], 'code':0}<br><br>Using the example above:<br>'17' = ID of the object<br>'RAM Acme 123456' = representation of the object<br> 'true, true' = object added and is new.<br>'true, false' = object updated.<br>'false, false' = no changes.<br><br><b>Status Codes</b><br><u>Code 0</u><br>Success! e.g. = {'msg': 'device added or updated', <b>code:0</b>}<br><br><u>'HTTP/1.1 200 OK'</u><br>Success! All other responses are errors and will display an error code e.g.: 400, 401, 403, 405, 410, 500, 503. These are explained in each call.<br><br>Please let us know if you notice something odd with a response and we will fix it! :) <h2><a id = 'Get_Limits_Offsets'><b>API Get Limits and Offsets</b></a></h2>In Device42’s global settings we have the option to enforce API GET limits and this setting is recommended for better performance. To set this value from Device42, go to Tools>Settings>Global Settings and the click Edit in the top right. Toward the bottom of the screen you will see the API section. First check the “Enforce API GET Limits” checkbox, then enter a value for API GET Limit. A good limit to start with is 500 or 1000, depending on the performance you experience.<br><br>After setting this limit all GET calls below can have the results augmented via “offset” and “limit” parameters to tell Device42 which value to start returning results from, and how many results to return at maximum.<br>Examples:<br><br>'/?limit=50' returns the first 50 results.<br><br> '/?offset=100' will start at the 101st result. <br><br>'/?offset=42&limit=42' returns 42 results, starting at the 43rd.<br><br> Note that offset is used for paging - that is, the offset is only applied when the total number of objects returned exceeds the limit that is returned.
 *
 * API version: 2.0
 * Contact: support@device42.com
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */

package swagger

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
	"fmt"
	"github.com/antihax/optional"
)

// Linger please
var (
	_ context.Context
)

type TelcoCircuitsApiService service

/* 
TelcoCircuitsApiService Delete Circuit
This API is used to delete the circuit with the circuit id supplied as the required argument.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param id circuit id

@return interface{}
*/
func (a *TelcoCircuitsApiService) DeleteCircuit(ctx context.Context, id int32) (interface{}, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Delete")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue interface{}
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/api/1.0/circuits/{id}/"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", fmt.Sprintf("%v", id), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		
		if localVarHttpResponse.StatusCode == 200 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}

/* 
TelcoCircuitsApiService Get all Circuits
Get all Circuits
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param optional nil or *TelcoCircuitsApiGetCircuitsOpts - Optional Parameters:
     * @param "ID" (optional.String) -  ID for the cricuit (D42 ID)
     * @param "CircuitId" (optional.String) -  circuit id
     * @param "Type_" (optional.String) - 
     * @param "OrderDate" (optional.String) -  Order number
     * @param "ProvisionDate" (optional.String) -  Text field.
     * @param "TurnOnDate" (optional.String) - 
     * @param "Notes" (optional.String) -  Any additional notes
     * @param "Bandwidth" (optional.String) -  bandwidth in kbps (mutiply factor of 1024)
     * @param "Vendor" (optional.String) -  The cloud vendor
     * @param "Customer" (optional.String) -  filter by customer name
     * @param "DramcId" (optional.String) -  ID of the DMARC
     * @param "Dmarc" (optional.String) -  DMARC name
     * @param "OriginType" (optional.String) -  Type of origin point.
     * @param "OriginId" (optional.String) -  ID of the origin point
     * @param "OriginDevice" (optional.String) -  if origin type is device, this is name of the device. Absent otherwise
     * @param "OriginCircuitId" (optional.String) -  if origin type is circuit, this is circuit_id of the circuit. Absent otherwise
     * @param "OriginSwitchport" (optional.String) -  if origin type is switchport, this is name of the switch port. Absent otherwise
     * @param "OriginSwitch" (optional.String) -  if origin type is switchport, this is name of the switch. Absent otherwise
     * @param "OriginPatchPanelPort" (optional.String) -  if origin type is patch_panel_port, this is name of the patch panel port. Absent otherwise
     * @param "OriginPatchPanel" (optional.String) -  if origin type is patch_panel_port, this is name of the patch panel. Absent otherwise
     * @param "OriginPatchPanelId" (optional.String) -  if origin type is patch_panel_port, this is ID of the patch panel. Absent otherwise
     * @param "OriginVendor" (optional.String) -  if origin type is vendor, this is name of the vendor. Absent otherwise
     * @param "EndPointType" (optional.String) -  Type of end point.
     * @param "EndPointId" (optional.String) -  ID of the end point
     * @param "EndPointDevice" (optional.String) -  if end_point type is device, this is name of the device. Absent otherwise
     * @param "EndPointCircuitId" (optional.String) -  if end_point type is circuit, this is circuit_id of the circuit. Absent otherwise
     * @param "EndPointSwitchport" (optional.String) -  if end_point type is switchport, this is name of the switch port. Absent otherwise
     * @param "EndPointSwitch" (optional.String) -  if end_point type is switchport, this is name of the switch. Absent otherwise
     * @param "EndPointPatchPanelPort" (optional.String) -  if end_point type is patch_panel_port, this is name of the patch panel port. Absent otherwise
     * @param "EndPointPatchPanel" (optional.String) -  if end_point type is patch_panel_port, this is name of the patch panel. Absent otherwise
     * @param "EndPointPatchPanelId" (optional.String) -  if end_point type is patch_panel_port, this is ID of the patch panel. Absent otherwise
     * @param "EndPointVendor" (optional.String) -  if end_point type is vendor, this is name of the vendor. Absent otherwise

@return interface{}
*/

type TelcoCircuitsApiGetCircuitsOpts struct { 
	ID optional.String
	CircuitId optional.String
	Type_ optional.String
	OrderDate optional.String
	ProvisionDate optional.String
	TurnOnDate optional.String
	Notes optional.String
	Bandwidth optional.String
	Vendor optional.String
	Customer optional.String
	DramcId optional.String
	Dmarc optional.String
	OriginType optional.String
	OriginId optional.String
	OriginDevice optional.String
	OriginCircuitId optional.String
	OriginSwitchport optional.String
	OriginSwitch optional.String
	OriginPatchPanelPort optional.String
	OriginPatchPanel optional.String
	OriginPatchPanelId optional.String
	OriginVendor optional.String
	EndPointType optional.String
	EndPointId optional.String
	EndPointDevice optional.String
	EndPointCircuitId optional.String
	EndPointSwitchport optional.String
	EndPointSwitch optional.String
	EndPointPatchPanelPort optional.String
	EndPointPatchPanel optional.String
	EndPointPatchPanelId optional.String
	EndPointVendor optional.String
}

func (a *TelcoCircuitsApiService) GetCircuits(ctx context.Context, localVarOptionals *TelcoCircuitsApiGetCircuitsOpts) (interface{}, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue interface{}
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/api/1.0/circuits/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.ID.IsSet() {
		localVarQueryParams.Add("ID", parameterToString(localVarOptionals.ID.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.CircuitId.IsSet() {
		localVarQueryParams.Add("circuit_id", parameterToString(localVarOptionals.CircuitId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Type_.IsSet() {
		localVarQueryParams.Add("type", parameterToString(localVarOptionals.Type_.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OrderDate.IsSet() {
		localVarQueryParams.Add("order_date", parameterToString(localVarOptionals.OrderDate.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.ProvisionDate.IsSet() {
		localVarQueryParams.Add("provision_date", parameterToString(localVarOptionals.ProvisionDate.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.TurnOnDate.IsSet() {
		localVarQueryParams.Add("turn_on_date", parameterToString(localVarOptionals.TurnOnDate.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Notes.IsSet() {
		localVarQueryParams.Add("notes", parameterToString(localVarOptionals.Notes.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Bandwidth.IsSet() {
		localVarQueryParams.Add("bandwidth", parameterToString(localVarOptionals.Bandwidth.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Vendor.IsSet() {
		localVarQueryParams.Add("vendor", parameterToString(localVarOptionals.Vendor.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Customer.IsSet() {
		localVarQueryParams.Add("customer", parameterToString(localVarOptionals.Customer.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.DramcId.IsSet() {
		localVarQueryParams.Add("dramc_id", parameterToString(localVarOptionals.DramcId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Dmarc.IsSet() {
		localVarQueryParams.Add("dmarc", parameterToString(localVarOptionals.Dmarc.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginType.IsSet() {
		localVarQueryParams.Add("origin_type", parameterToString(localVarOptionals.OriginType.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginId.IsSet() {
		localVarQueryParams.Add("origin_id", parameterToString(localVarOptionals.OriginId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginDevice.IsSet() {
		localVarQueryParams.Add("origin_device", parameterToString(localVarOptionals.OriginDevice.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginCircuitId.IsSet() {
		localVarQueryParams.Add("origin_circuit_id", parameterToString(localVarOptionals.OriginCircuitId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginSwitchport.IsSet() {
		localVarQueryParams.Add("origin_switchport", parameterToString(localVarOptionals.OriginSwitchport.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginSwitch.IsSet() {
		localVarQueryParams.Add("origin_switch", parameterToString(localVarOptionals.OriginSwitch.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginPatchPanelPort.IsSet() {
		localVarQueryParams.Add("origin_patch_panel_port", parameterToString(localVarOptionals.OriginPatchPanelPort.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginPatchPanel.IsSet() {
		localVarQueryParams.Add("origin_patch_panel", parameterToString(localVarOptionals.OriginPatchPanel.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginPatchPanelId.IsSet() {
		localVarQueryParams.Add("origin_patch_panel_id", parameterToString(localVarOptionals.OriginPatchPanelId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginVendor.IsSet() {
		localVarQueryParams.Add("origin_vendor", parameterToString(localVarOptionals.OriginVendor.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointType.IsSet() {
		localVarQueryParams.Add("end_point_type", parameterToString(localVarOptionals.EndPointType.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointId.IsSet() {
		localVarQueryParams.Add("end_point_id", parameterToString(localVarOptionals.EndPointId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointDevice.IsSet() {
		localVarQueryParams.Add("end_point_device", parameterToString(localVarOptionals.EndPointDevice.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointCircuitId.IsSet() {
		localVarQueryParams.Add("end_point_circuit_id", parameterToString(localVarOptionals.EndPointCircuitId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointSwitchport.IsSet() {
		localVarQueryParams.Add("end_point_switchport", parameterToString(localVarOptionals.EndPointSwitchport.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointSwitch.IsSet() {
		localVarQueryParams.Add("end_point_switch", parameterToString(localVarOptionals.EndPointSwitch.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointPatchPanelPort.IsSet() {
		localVarQueryParams.Add("end_point_patch_panel_port", parameterToString(localVarOptionals.EndPointPatchPanelPort.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointPatchPanel.IsSet() {
		localVarQueryParams.Add("end_point_patch_panel", parameterToString(localVarOptionals.EndPointPatchPanel.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointPatchPanelId.IsSet() {
		localVarQueryParams.Add("end_point_patch_panel_id", parameterToString(localVarOptionals.EndPointPatchPanelId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointVendor.IsSet() {
		localVarQueryParams.Add("end_point_vendor", parameterToString(localVarOptionals.EndPointVendor.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		
		if localVarHttpResponse.StatusCode == 200 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}

/* 
TelcoCircuitsApiService Create / Update Circuits
Create / Update Circuits
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param optional nil or *TelcoCircuitsApiPostUpdateCircuitsOpts - Optional Parameters:
     * @param "ID" (optional.String) -  ID for the specific circuit (D42 ID)
     * @param "CircuitId" (optional.String) -  general circuit ID
     * @param "Type_" (optional.String) -  Required for new circuits
     * @param "OrderDate" (optional.String) - 
     * @param "ProvisionDate" (optional.String) - 
     * @param "TurnOnDate" (optional.String) - 
     * @param "Notes" (optional.String) -  Any additional notes
     * @param "Bandwidth" (optional.String) -  bandwidth in kbps (multiply factor of 1024)
     * @param "Vendor" (optional.String) -  The cloud vendor
     * @param "Customer" (optional.String) -  customer name
     * @param "DmarcId" (optional.String) -  ID of the DMARC
     * @param "Dmarc" (optional.String) -  name of the DMARC
     * @param "OriginType" (optional.String) -  Type of origin point.
     * @param "OriginId" (optional.String) -  ID of the origin point
     * @param "OriginDevice" (optional.String) -  if origin type is device, this is name of the device. Absent otherwise
     * @param "OriginCircuitId" (optional.String) -  if origin type is circuit, this is circuit_id of the circuit. Absent otherwise
     * @param "OriginSwitchport" (optional.String) -  if origin type is switchport, this is name of the switch port. Absent otherwise
     * @param "OriginSwitch" (optional.String) -  if origin type is switchport, this is name of the switch. Absent otherwise
     * @param "OriginPatchPanelPort" (optional.String) -  if origin type is patch_panel_port, this is name of the patch panel port. Absent otherwise
     * @param "OriginPatchPanel" (optional.String) -  if origin type is patch_panel_port, this is name of the patch panel. Absent otherwise
     * @param "OriginPatchPanelId" (optional.String) -  if origin type is patch_panel_port, this is ID of the patch panel. Absent otherwise
     * @param "OriginVendor" (optional.String) -  if origin type is vendor, this is name of the vendor. Absent otherwise
     * @param "EndPointType" (optional.String) -  Type of end point.
     * @param "EndPointId" (optional.String) -  ID of the end point
     * @param "EndPointDevice" (optional.String) -  if end_point type is device, this is name of the device. Absent otherwise
     * @param "EndPointCircuitId" (optional.String) -  if end_point type is circuit, this is circuit_id of the circuit. Absent otherwise
     * @param "EndPointSwitchport" (optional.String) -  if end_point type is switchport, this is name of the switch port. Absent otherwise
     * @param "EndPointSwitch" (optional.String) -  if end_point type is switchport, this is name of the switch. Absent otherwise
     * @param "EndPointPatchPanelPort" (optional.String) -  if end_point type is patch_panel_port, this is name of the patch panel port. Absent otherwise
     * @param "EndPointPatchPanel" (optional.String) -  if end_point type is patch_panel_port, this is name of the patch panel. Absent otherwise
     * @param "EndPointPatchPanelId" (optional.String) -  if end_point type is patch_panel_port, this is ID of the patch panel. Absent otherwise
     * @param "EndPointVendor" (optional.String) -  if end_point type is vendor, this is name of the vendor. Absent otherwise

@return interface{}
*/

type TelcoCircuitsApiPostUpdateCircuitsOpts struct { 
	ID optional.String
	CircuitId optional.String
	Type_ optional.String
	OrderDate optional.String
	ProvisionDate optional.String
	TurnOnDate optional.String
	Notes optional.String
	Bandwidth optional.String
	Vendor optional.String
	Customer optional.String
	DmarcId optional.String
	Dmarc optional.String
	OriginType optional.String
	OriginId optional.String
	OriginDevice optional.String
	OriginCircuitId optional.String
	OriginSwitchport optional.String
	OriginSwitch optional.String
	OriginPatchPanelPort optional.String
	OriginPatchPanel optional.String
	OriginPatchPanelId optional.String
	OriginVendor optional.String
	EndPointType optional.String
	EndPointId optional.String
	EndPointDevice optional.String
	EndPointCircuitId optional.String
	EndPointSwitchport optional.String
	EndPointSwitch optional.String
	EndPointPatchPanelPort optional.String
	EndPointPatchPanel optional.String
	EndPointPatchPanelId optional.String
	EndPointVendor optional.String
}

func (a *TelcoCircuitsApiService) PostUpdateCircuits(ctx context.Context, localVarOptionals *TelcoCircuitsApiPostUpdateCircuitsOpts) (interface{}, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Post")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue interface{}
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/api/1.0/circuits/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if localVarOptionals != nil && localVarOptionals.ID.IsSet() {
		localVarFormParams.Add("ID", parameterToString(localVarOptionals.ID.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.CircuitId.IsSet() {
		localVarFormParams.Add("circuit_id", parameterToString(localVarOptionals.CircuitId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Type_.IsSet() {
		localVarFormParams.Add("type", parameterToString(localVarOptionals.Type_.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OrderDate.IsSet() {
		localVarFormParams.Add("order_date", parameterToString(localVarOptionals.OrderDate.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.ProvisionDate.IsSet() {
		localVarFormParams.Add("provision_date", parameterToString(localVarOptionals.ProvisionDate.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.TurnOnDate.IsSet() {
		localVarFormParams.Add("turn_on_date", parameterToString(localVarOptionals.TurnOnDate.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Notes.IsSet() {
		localVarFormParams.Add("notes", parameterToString(localVarOptionals.Notes.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Bandwidth.IsSet() {
		localVarFormParams.Add("bandwidth", parameterToString(localVarOptionals.Bandwidth.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Vendor.IsSet() {
		localVarFormParams.Add("vendor", parameterToString(localVarOptionals.Vendor.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Customer.IsSet() {
		localVarFormParams.Add("customer", parameterToString(localVarOptionals.Customer.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.DmarcId.IsSet() {
		localVarFormParams.Add("dmarc_id", parameterToString(localVarOptionals.DmarcId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Dmarc.IsSet() {
		localVarFormParams.Add("dmarc", parameterToString(localVarOptionals.Dmarc.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginType.IsSet() {
		localVarFormParams.Add("origin_type", parameterToString(localVarOptionals.OriginType.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginId.IsSet() {
		localVarFormParams.Add("origin_id", parameterToString(localVarOptionals.OriginId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginDevice.IsSet() {
		localVarFormParams.Add("origin_device", parameterToString(localVarOptionals.OriginDevice.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginCircuitId.IsSet() {
		localVarFormParams.Add("origin_circuit_id", parameterToString(localVarOptionals.OriginCircuitId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginSwitchport.IsSet() {
		localVarFormParams.Add("origin_switchport", parameterToString(localVarOptionals.OriginSwitchport.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginSwitch.IsSet() {
		localVarFormParams.Add("origin_switch", parameterToString(localVarOptionals.OriginSwitch.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginPatchPanelPort.IsSet() {
		localVarFormParams.Add("origin_patch_panel_port", parameterToString(localVarOptionals.OriginPatchPanelPort.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginPatchPanel.IsSet() {
		localVarFormParams.Add("origin_patch_panel", parameterToString(localVarOptionals.OriginPatchPanel.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginPatchPanelId.IsSet() {
		localVarFormParams.Add("origin_patch_panel_id", parameterToString(localVarOptionals.OriginPatchPanelId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.OriginVendor.IsSet() {
		localVarFormParams.Add("origin_vendor", parameterToString(localVarOptionals.OriginVendor.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointType.IsSet() {
		localVarFormParams.Add("end_point_type", parameterToString(localVarOptionals.EndPointType.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointId.IsSet() {
		localVarFormParams.Add("end_point_id", parameterToString(localVarOptionals.EndPointId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointDevice.IsSet() {
		localVarFormParams.Add("end_point_device", parameterToString(localVarOptionals.EndPointDevice.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointCircuitId.IsSet() {
		localVarFormParams.Add("end_point_circuit_id", parameterToString(localVarOptionals.EndPointCircuitId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointSwitchport.IsSet() {
		localVarFormParams.Add("end_point_switchport", parameterToString(localVarOptionals.EndPointSwitchport.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointSwitch.IsSet() {
		localVarFormParams.Add("end_point_switch", parameterToString(localVarOptionals.EndPointSwitch.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointPatchPanelPort.IsSet() {
		localVarFormParams.Add("end_point_patch_panel_port", parameterToString(localVarOptionals.EndPointPatchPanelPort.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointPatchPanel.IsSet() {
		localVarFormParams.Add("end_point_patch_panel", parameterToString(localVarOptionals.EndPointPatchPanel.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointPatchPanelId.IsSet() {
		localVarFormParams.Add("end_point_patch_panel_id", parameterToString(localVarOptionals.EndPointPatchPanelId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.EndPointVendor.IsSet() {
		localVarFormParams.Add("end_point_vendor", parameterToString(localVarOptionals.EndPointVendor.Value(), ""))
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		
		if localVarHttpResponse.StatusCode == 200 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}

/* 
TelcoCircuitsApiService Create/update custom fields for circuits. (Added in v5.9.3)
Custom Fields for circuits. Either ID or circuit_id is required.
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param key Can be new or existing. This is the custom field name.
 * @param optional nil or *TelcoCircuitsApiPutCustomFieldsOpts - Optional Parameters:
     * @param "ID" (optional.String) -  ID for the cricuit (D42 ID)
     * @param "CircuitId" (optional.String) -  circuit_id for the circuit
     * @param "Type_" (optional.String) -  this is the custom field type. If left blank, default is text. Date should be formatted as YYYY-MM-DD
     * @param "RelatedFieldName" (optional.String) -  Required if type &#x3D; related field.
     * @param "AddToPicklist" (optional.String) -  Comma separated values to add to picklist. If type is picklist and custom field is new, this is a required field. Duplicates will be ignored.
     * @param "Value" (optional.String) -  This will set the value of the custom field for the specific object.
     * @param "ClearValue" (optional.String) -  yes to clear existing value for that field
     * @param "Notes" (optional.String) -  Any additional notes
     * @param "ClearNotes" (optional.String) -  Yes to clear any existing notes.
     * @param "BulkFields" (optional.String) -  comma separated key value pairs, with key and value separated by colon. e.g.key1:value1, key2:value2

@return interface{}
*/

type TelcoCircuitsApiPutCustomFieldsOpts struct { 
	ID optional.String
	CircuitId optional.String
	Type_ optional.String
	RelatedFieldName optional.String
	AddToPicklist optional.String
	Value optional.String
	ClearValue optional.String
	Notes optional.String
	ClearNotes optional.String
	BulkFields optional.String
}

func (a *TelcoCircuitsApiService) PutCustomFields(ctx context.Context, key string, localVarOptionals *TelcoCircuitsApiPutCustomFieldsOpts) (interface{}, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Put")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue interface{}
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/api/1.0/custom_fields/circuit/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"application/json", "application/x-www-form-urlencoded"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	if localVarOptionals != nil && localVarOptionals.ID.IsSet() {
		localVarFormParams.Add("ID", parameterToString(localVarOptionals.ID.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.CircuitId.IsSet() {
		localVarFormParams.Add("circuit_id", parameterToString(localVarOptionals.CircuitId.Value(), ""))
	}
	localVarFormParams.Add("key", parameterToString(key, ""))
	if localVarOptionals != nil && localVarOptionals.Type_.IsSet() {
		localVarFormParams.Add("type", parameterToString(localVarOptionals.Type_.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.RelatedFieldName.IsSet() {
		localVarFormParams.Add("related_field_name", parameterToString(localVarOptionals.RelatedFieldName.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.AddToPicklist.IsSet() {
		localVarFormParams.Add("add_to_picklist", parameterToString(localVarOptionals.AddToPicklist.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Value.IsSet() {
		localVarFormParams.Add("value", parameterToString(localVarOptionals.Value.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.ClearValue.IsSet() {
		localVarFormParams.Add("clear_value", parameterToString(localVarOptionals.ClearValue.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Notes.IsSet() {
		localVarFormParams.Add("notes", parameterToString(localVarOptionals.Notes.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.ClearNotes.IsSet() {
		localVarFormParams.Add("clear_notes", parameterToString(localVarOptionals.ClearNotes.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.BulkFields.IsSet() {
		localVarFormParams.Add("bulk_fields", parameterToString(localVarOptionals.BulkFields.Value(), ""))
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		
		if localVarHttpResponse.StatusCode == 200 {
			var v interface{}
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
