---
swagger: "2.0"
info:
  description: "<b><h2>API Overview</h2></b><br>Restful API are supported in Device42\
    \ as one of the primary methods of entering, editing and retrieving data.<br><br>\
    \ The API documentation has samples in curl for now and we will be adding other\
    \ programming languages in future. You can refer to our github repositories at\
    \ https://github.com/device42 for some sample code in python.<br><br> The RESTful\
    \ API's enforce the role-based security that is created with the Device42 app.\
    \ If you want a user to have access via the API, but not via the UI - deselect\
    \ 'Staff Status' for that user from UI Tools > Admins & Permissions > Administrators.<br><br>If\
    \ you'd like to see your changes on our UI, please visit http://swaggerdemo.device42.com\
    \ and use credentials 'guest:device42_rocks!'. Please be aware that every 30 minutes\
    \ our database resets and all data entered with POST/PUT calls from this page\
    \ will be lost.<br><br>If you have any questions/suggestions, please send us a\
    \ note to support at device42.com below. <br><h2><a id = 'Sample_API_Code'><b>Sample\
    \ API Code</b></a></h2> <b>Sample Code with API Calls in the Python and .Net Programming\
    \ Languages.</b><br>The following programs written in the Python programming language\
    \ are available at <a href= 'https://github.com/device42/Device42-AutoDiscovery-Scripts'>Device42\
    \ sample programs</a><br><ul><li>api-sample.py: Runs against a single Windows\
    \ system and uploads info to device42 appliance.</li><li>ad-sample.py: Can run\
    \ against Active directory computers, servers or a given list and upload discovered\
    \ systems’ info to device42 appliance.</li><li>d42_api_linux_upload_sample_script.py:\
    \ Runs on a single *nix based system and uploads info to device42 appliance.</li><li>sample-script-facter-facts-to-d42:\
    \ Runs on puppet master and uploads nodes info from facter fact files to device42\
    \ appliance.</li><li>d42_api_solaris_sample_script.py: Runs on an individual solaris\
    \ system and uploads info to device42 appliance.</li></ul>The csv2d42apis.py sample\
    \ program shows how to create a CSV file of data to import into device42. It reads\
    \ a CSV file, matches columns to arguments for APIs and sends data to device42\
    \ via POST or PUT. This program can be found at: <a href= 'https://github.com/device42/API_Helpers'>\
    \ Device42 sample CSV importer</a>.<br><br>The Auto Discovery Client source code\
    \ can be found at Device42 <a href='https://docs.device42.com/auto-discovery/'>Auto\
    \ Discovery Client</a>. This is a .net program that uses the device42 Restful\
    \ API’s to load the discovered data.<h2><a id = 'Response_Status_Messages'><b>Response\
    \ & Status Messages</b></a></h2><b>Responses</b><br>The response to most POST\
    \ calls will have the following format: <br>{'msg':['PartModel added/updated',\
    \ 17, 'RAM Acme 123456', true, true], 'code':0}<br><br>Using the example above:<br>'17'\
    \ = ID of the object<br>'RAM Acme 123456' = representation of the object<br> 'true,\
    \ true' = object added and is new.<br>'true, false' = object updated.<br>'false,\
    \ false' = no changes.<br><br><b>Status Codes</b><br><u>Code 0</u><br>Success!\
    \ e.g. = {'msg': 'device added or updated', <b>code:0</b>}<br><br><u>'HTTP/1.1\
    \ 200 OK'</u><br>Success! All other responses are errors and will display an error\
    \ code e.g.: 400, 401, 403, 405, 410, 500, 503. These are explained in each call.<br><br>Please\
    \ let us know if you notice something odd with a response and we will fix it!\
    \ :) <h2><a id = 'Get_Limits_Offsets'><b>API Get Limits and Offsets</b></a></h2>In\
    \ Device42’s global settings we have the option to enforce API GET limits and\
    \ this setting is recommended for better performance. To set this value from Device42,\
    \ go to Tools>Settings>Global Settings and the click Edit in the top right. Toward\
    \ the bottom of the screen you will see the API section. First check the “Enforce\
    \ API GET Limits” checkbox, then enter a value for API GET Limit. A good limit\
    \ to start with is 500 or 1000, depending on the performance you experience.<br><br>After\
    \ setting this limit all GET calls below can have the results augmented via “\
    offset” and “limit” parameters to tell Device42 which value to start returning\
    \ results from, and how many results to return at maximum.<br>Examples:<br><br>'/?limit=50'\
    \ returns the first 50 results.<br><br> '/?offset=100' will start at the 101st\
    \ result. <br><br>'/?offset=42&limit=42' returns 42 results, starting at the 43rd.<br><br>\
    \ Note that offset is used for paging - that is, the offset is only applied when\
    \ the total number of objects returned exceeds the limit that is returned."
  version: "2.0"
  title: "Device42 API"
  contact:
    name: "Device42"
    email: "support@device42.com"
host: "swaggerdemo.device42.com"
schemes:
- "https"
consumes:
- "application/x-www-form-urlencoded"
produces:
- "application/json"
paths:
  /api/1.0/buildings/:
    get:
      tags:
      - "Buildings"
      summary: "Retrieve information about all buildings."
      description: "Get All Buildings"
      operationId: "getBuildings"
      parameters:
      - name: "name"
        in: "query"
        description: "filter by name (Added in v6.0.0)"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              buildings:
                $ref: "#/definitions/buildings"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
    post:
      tags:
      - "Buildings"
      summary: "Create/update buildings."
      description: "Create/Update Building"
      operationId: "postBuildings"
      parameters:
      - name: "name"
        in: "formData"
        description: "Name of building"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "address"
        in: "formData"
        description: "Address of building."
        required: true
        type: "string"
        x-exportParamName: "Address"
      - name: "contact_name"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "ContactName"
        x-optionalDataType: "String"
      - name: "contact_phone"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "ContactPhone"
        x-optionalDataType: "String"
      - name: "notes"
        in: "formData"
        description: "Any additional notes"
        required: false
        type: "string"
        x-exportParamName: "Notes"
        x-optionalDataType: "String"
      - name: "groups"
        in: "formData"
        description: "If multitenancy is on, admin groups that have access to this\
          \ object are specified here, e.g. Prod_East:no,Corp:yes specifies that the\
          \ admin groups for this object are Prod_East with view only permission and\
          \ Corp with change permission. If this parameter is present with no value,\
          \ all groups are deleted."
        required: false
        type: "string"
        x-exportParamName: "Groups"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              msg:
                example: ""
              code:
                example: "0"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/buildings/{ID}/:
    delete:
      tags:
      - "Buildings"
      summary: "Delete Building"
      description: "This API is used to delete the building with the building id supplied\
        \ as the required argument."
      operationId: "deleteBuildings"
      parameters:
      - name: "ID"
        in: "path"
        description: "building id"
        required: true
        type: "integer"
        x-exportParamName: "ID"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              deleted:
                example: "true"
              id:
                example: "114"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/custom_fields/building/:
    put:
      tags:
      - "Buildings"
      summary: "Create/update custom fields for buildings."
      description: "Create or update custom fields for buildings. \"ID\" or \"name\"\
        \ of building is needed even when value is not being changed"
      operationId: "putCustom_fieldsBuilding"
      parameters:
      - name: "name"
        in: "formData"
        description: "Name of building"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "id"
        in: "formData"
        description: "ID of building"
        required: false
        type: "string"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "key"
        in: "formData"
        description: "Can be new or existing. This is the custom field name."
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "type"
        in: "formData"
        description: "this is the custom field type. If left blank, default is text.\
          \ Date should be formatted as YYYY-MM-DD"
        required: false
        type: "string"
        enum:
        - "text"
        - "number"
        - "date"
        - "related_field"
        - "boolean"
        - "url"
        - "json"
        - "markup"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "related_field_name"
        in: "formData"
        description: "Required if type = related field."
        required: false
        type: "string"
        enum:
        - "appcomp"
        - "building"
        - "certificate"
        - "circuit"
        - "costcenter"
        - "customer"
        - "device"
        - "dns_zone"
        - "endusers"
        - "hardware"
        - "ip_address"
        - "mactable"
        - "os"
        - "room"
        - "servicecategory"
        - "software_category"
        - "software"
        - "vlan"
        - "netport"
        x-exportParamName: "RelatedFieldName"
        x-optionalDataType: "String"
      - name: "add_to_picklist"
        in: "formData"
        description: "Comma separated values to add to picklist. If type is picklist\
          \ and custom field is new, this is a required field. Duplicates will be\
          \ ignored."
        required: false
        type: "string"
        x-exportParamName: "AddToPicklist"
        x-optionalDataType: "String"
      - name: "value"
        in: "formData"
        description: "This will set the value of the custom field for the specific\
          \ object."
        required: false
        type: "string"
        x-exportParamName: "Value"
        x-optionalDataType: "String"
      - name: "clear_value"
        in: "formData"
        description: "yes to clear existing value for that field"
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ClearValue"
        x-optionalDataType: "String"
      - name: "notes"
        in: "formData"
        description: "Any additional notes"
        required: false
        type: "string"
        x-exportParamName: "Notes"
        x-optionalDataType: "String"
      - name: "clear_notes"
        in: "formData"
        description: "Yes to clear any existing notes."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ClearNotes"
        x-optionalDataType: "String"
      - name: "groups"
        in: "formData"
        description: "If multitenancy is on, admin groups that have access to this\
          \ object are specified here, e.g. Prod_East:no,Corp:yes specifies that the\
          \ admin groups for this object are Prod_East with view only permission and\
          \ Corp with change permission. If this parameter is present with no value,\
          \ all groups are deleted."
        required: false
        type: "string"
        x-exportParamName: "Groups"
        x-optionalDataType: "String"
      - name: "bulk_fields"
        in: "formData"
        description: "comma separated key value pairs, with key and value separated\
          \ by colon. e.g.key1:value1, key2:value2"
        required: false
        type: "string"
        x-exportParamName: "BulkFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              msg:
                example: ""
              code:
                example: "0"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/rooms/:
    get:
      tags:
      - "Rooms"
      summary: "Retrieve information about all rooms."
      description: "Get All Rooms"
      operationId: "getRooms"
      parameters:
      - name: "name"
        in: "query"
        description: "filter by name (Added in v6.0.0)"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "building_id"
        in: "query"
        description: "filter by building ID (Added in v5.9.0)"
        required: false
        type: "string"
        x-exportParamName: "BuildingId"
        x-optionalDataType: "String"
      - name: "building"
        in: "query"
        description: "filter by building name"
        required: false
        type: "string"
        x-exportParamName: "Building"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              rooms:
                $ref: "#/definitions/rooms"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
    post:
      tags:
      - "Rooms"
      summary: "Create or update a room."
      description: "Create or update a Room. Required parameters: <ul><li>name</li>\
        \ <li>building_id <b>OR</b> building</li>"
      operationId: "postRooms"
      parameters:
      - name: "name"
        in: "formData"
        description: "Name of room"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "building_id"
        in: "formData"
        description: "Existing building ID"
        required: false
        type: "string"
        x-exportParamName: "BuildingId"
        x-optionalDataType: "String"
      - name: "building"
        in: "formData"
        description: "Existing building name"
        required: false
        type: "string"
        x-exportParamName: "Building"
        x-optionalDataType: "String"
      - name: "notes"
        in: "formData"
        description: "Any additional notes"
        required: false
        type: "string"
        x-exportParamName: "Notes"
        x-optionalDataType: "String"
      - name: "horizontal_grid_numbering"
        in: "formData"
        description: "numeric by default"
        required: false
        type: "string"
        enum:
        - "numeric"
        - "alphabetic"
        x-exportParamName: "HorizontalGridNumbering"
        x-optionalDataType: "String"
      - name: "horizontal_grid_start"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "HorizontalGridStart"
        x-optionalDataType: "String"
      - name: "vertical_grid_numbering"
        in: "formData"
        description: "numeric by default"
        required: false
        type: "string"
        enum:
        - "numeric"
        - "alphabetic"
        x-exportParamName: "VerticalGridNumbering"
        x-optionalDataType: "String"
      - name: "vertical_grid_start"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "VerticalGridStart"
        x-optionalDataType: "String"
      - name: "uom"
        in: "formData"
        description: "unit of measurement (meters or inches)"
        required: false
        type: "string"
        enum:
        - "m"
        - "in"
        x-exportParamName: "Uom"
        x-optionalDataType: "String"
      - name: "height"
        in: "formData"
        description: "room height"
        required: false
        type: "string"
        x-exportParamName: "Height"
        x-optionalDataType: "String"
      - name: "grid_rows"
        in: "formData"
        description: "number of rows in the room grid"
        required: false
        type: "string"
        x-exportParamName: "GridRows"
        x-optionalDataType: "String"
      - name: "grid_cols"
        in: "formData"
        description: "number of columns in the room grid"
        required: false
        type: "string"
        x-exportParamName: "GridCols"
        x-optionalDataType: "String"
      - name: "raised_floor"
        in: "formData"
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "RaisedFloor"
        x-optionalDataType: "String"
      - name: "raised_floor_height"
        in: "formData"
        description: "height of raised floor"
        required: false
        type: "string"
        x-exportParamName: "RaisedFloorHeight"
        x-optionalDataType: "String"
      - name: "groups"
        in: "formData"
        description: "If multitenancy is on, admin groups that have access to this\
          \ object are specified here, e.g. Prod_East:no,Corp:yes specifies that the\
          \ admin groups for this object are Prod_East with view only permission and\
          \ Corp with change permission. If this parameter is present with no value,\
          \ all groups are deleted."
        required: false
        type: "string"
        x-exportParamName: "Groups"
        x-optionalDataType: "String"
      - name: "reverse_xaxis"
        in: "formData"
        description: "'yes' reverses the numbering order on the x-axis"
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ReverseXaxis"
        x-optionalDataType: "String"
      - name: "reverse_yaxis"
        in: "formData"
        description: "'yes' reverses the numbering order on the y-axis"
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ReverseYaxis"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              msg:
                example: ""
              code:
                example: "0"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/rooms/{ID}/:
    get:
      tags:
      - "Rooms"
      summary: "Get a Specific Room"
      description: "Retrieve detailed information about a specific rooms includes\
        \ racks, devices and objects directly related to that room."
      operationId: "getRoomsID"
      parameters:
      - name: "ID"
        in: "path"
        description: "The ID of the room to retrieve"
        required: true
        type: "integer"
        x-exportParamName: "ID"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              building:
                example: "New Haven"
              reverse_yaxis:
                example: "no"
              name:
                example: "NHDC1"
              notes:
                example: "Demo Room"
              devices:
                type: "array"
                items:
                  type: "object"
                  properties:
                    device:
                      type: "object"
                      properties:
                        uuid:
                          example: ""
                        serial_no:
                          example: ""
                        asset_no:
                          example: ""
                        name:
                          example: "CRAC2"
                        device_url:
                          example: "/api/api/1.0/devices/id/123/"
                        type:
                          example: "other"
                        device_id:
                          example: "123"
              grid_cols:
                example: "10"
              room_id:
                example: "1"
              reverse_xaxis:
                example: "no"
              grid_rows:
                example: "9"
              building_id:
                example: "1"
              racks:
                type: "array"
                items:
                  $ref: "#/definitions/RoomsRacks"
              assets:
                type: "array"
                items:
                  type: "object"
                  properties:
                    asset_id:
                      example: "30"
                    serial_no:
                      example: ""
                    type:
                      example: "Breaker Panel"
                    name:
                      example: "Power1"
                    asset_no:
                      example: "0084"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
    put:
      tags:
      - "Rooms"
      summary: "Update information about an existing room."
      description: "Update a Room"
      operationId: "putRoomsID"
      parameters:
      - name: "ID"
        in: "path"
        description: "id of the room"
        required: true
        type: "integer"
        x-exportParamName: "ID"
      - name: "name"
        in: "formData"
        description: "Name of room"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "notes"
        in: "formData"
        description: "Any additional notes"
        required: false
        type: "string"
        x-exportParamName: "Notes"
        x-optionalDataType: "String"
      - name: "building_id"
        in: "formData"
        description: "Existing building ID"
        required: false
        type: "string"
        x-exportParamName: "BuildingId"
        x-optionalDataType: "String"
      - name: "horizontal_grid_numbering"
        in: "formData"
        description: "numeric by default"
        required: false
        type: "string"
        enum:
        - "numeric"
        - "alphabetic"
        x-exportParamName: "HorizontalGridNumbering"
        x-optionalDataType: "String"
      - name: "horizontal_grid_start"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "HorizontalGridStart"
        x-optionalDataType: "String"
      - name: "vertical_grid_numbering"
        in: "formData"
        description: "numeric by default"
        required: false
        type: "string"
        enum:
        - "numeric"
        - "alphabetic"
        x-exportParamName: "VerticalGridNumbering"
        x-optionalDataType: "String"
      - name: "vertical_grid_start"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "VerticalGridStart"
        x-optionalDataType: "String"
      - name: "uom"
        in: "formData"
        description: "unit of measurement (meters or inches)"
        required: false
        type: "string"
        enum:
        - "m"
        - "in"
        x-exportParamName: "Uom"
        x-optionalDataType: "String"
      - name: "height"
        in: "formData"
        description: "room height"
        required: false
        type: "string"
        x-exportParamName: "Height"
        x-optionalDataType: "String"
      - name: "grid_rows"
        in: "formData"
        description: "number of rows in the room grid"
        required: false
        type: "string"
        x-exportParamName: "GridRows"
        x-optionalDataType: "String"
      - name: "grid_cols"
        in: "formData"
        description: "number of columns in the room grid"
        required: false
        type: "string"
        x-exportParamName: "GridCols"
        x-optionalDataType: "String"
      - name: "raised_floor"
        in: "formData"
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "RaisedFloor"
        x-optionalDataType: "String"
      - name: "raised_floor_height"
        in: "formData"
        description: "height of raised floor"
        required: false
        type: "string"
        x-exportParamName: "RaisedFloorHeight"
        x-optionalDataType: "String"
      - name: "groups"
        in: "formData"
        description: "If multitenancy is on, admin groups that have access to this\
          \ object are specified here, e.g. Prod_East:no,Corp:yes specifies that the\
          \ admin groups for this object are Prod_East with view only permission and\
          \ Corp with change permission. If this parameter is present with no value,\
          \ all groups are deleted."
        required: false
        type: "string"
        x-exportParamName: "Groups"
        x-optionalDataType: "String"
      - name: "reverse_xaxis"
        in: "formData"
        description: "'yes' reverses the numbering order on the x-axis"
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ReverseXaxis"
        x-optionalDataType: "String"
      - name: "reverse_yaxis"
        in: "formData"
        description: "'yes' reverses the numbering order on the y-axis"
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ReverseYaxis"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              msg:
                example: ""
              code:
                example: "0"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
    delete:
      tags:
      - "Rooms"
      summary: "Delete Room"
      description: "This API is used to delete the room with the room id supplied\
        \ as the required argument."
      operationId: "deleteRoomsID"
      parameters:
      - name: "ID"
        in: "path"
        description: "room id"
        required: true
        type: "integer"
        x-exportParamName: "ID"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              deleted:
                example: "true"
              id:
                example: "114"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/custom_fields/room/:
    put:
      tags:
      - "Rooms"
      summary: "Create/update custom fields for rooms."
      description: "Create or update custom fields for rooms. \"ID\" or \"name\" of\
        \ room is needed even when value is not being changed."
      operationId: "putCustom_fieldsRoom"
      parameters:
      - name: "name"
        in: "formData"
        description: "Name of room"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "id"
        in: "formData"
        description: "Room ID or UI > Tools > Export > Room"
        required: false
        type: "string"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "key"
        in: "formData"
        description: "Can be new or existing. This is the custom field name."
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "type"
        in: "formData"
        description: "this is the custom field type. If left blank, default is text.\
          \ Date should be formatted as YYYY-MM-DD"
        required: false
        type: "string"
        enum:
        - "text"
        - "number"
        - "date"
        - "related_field"
        - "boolean"
        - "url"
        - "json"
        - "markup"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "related_field_name"
        in: "formData"
        description: "Required if type = related field."
        required: false
        type: "string"
        enum:
        - "appcomp"
        - "building"
        - "certificate"
        - "circuit"
        - "costcenter"
        - "customer"
        - "device"
        - "dns_zone"
        - "endusers"
        - "hardware"
        - "ip_address"
        - "mactable"
        - "os"
        - "room"
        - "servicecategory"
        - "software_category"
        - "software"
        - "vlan"
        - "netport"
        x-exportParamName: "RelatedFieldName"
        x-optionalDataType: "String"
      - name: "add_to_picklist"
        in: "formData"
        description: "Comma separated values to add to picklist. If type is picklist\
          \ and custom field is new, this is a required field. Duplicates will be\
          \ ignored."
        required: false
        type: "string"
        x-exportParamName: "AddToPicklist"
        x-optionalDataType: "String"
      - name: "value"
        in: "formData"
        description: "This will set the value of the custom field for the specific\
          \ object."
        required: false
        type: "string"
        x-exportParamName: "Value"
        x-optionalDataType: "String"
      - name: "clear_value"
        in: "formData"
        description: "yes to clear existing value for that field"
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ClearValue"
        x-optionalDataType: "String"
      - name: "notes"
        in: "formData"
        description: "Any additional notes"
        required: false
        type: "string"
        x-exportParamName: "Notes"
        x-optionalDataType: "String"
      - name: "clear_notes"
        in: "formData"
        description: "Yes to clear any existing notes."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ClearNotes"
        x-optionalDataType: "String"
      - name: "bulk_fields"
        in: "formData"
        description: "comma separated key value pairs, with key and value separated\
          \ by colon. e.g.key1:value1, key2:value2"
        required: false
        type: "string"
        x-exportParamName: "BulkFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              msg:
                example: ""
              code:
                example: "0"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/device/room/:
    post:
      tags:
      - "Rooms"
      summary: "Add a device to a room."
      description: "Add device to room"
      operationId: "postDeviceRoom"
      parameters:
      - name: "room_id"
        in: "formData"
        description: "Room ID or UI > Tools > Export > Room"
        required: true
        type: "string"
        x-exportParamName: "RoomId"
      - name: "name"
        in: "formData"
        description: "The name of the device to add"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "type"
        in: "formData"
        required: true
        type: "string"
        enum:
        - "CRAC"
        - "UPS"
        x-exportParamName: "Type_"
      - name: "wall"
        in: "formData"
        description: "Choose 'middle' if you do not want the object to be placed along\
          \ one of the 4 walls."
        required: false
        type: "string"
        enum:
        - "left"
        - "right"
        - "top"
        - "bottom"
        - "middle"
        x-exportParamName: "Wall"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              msg:
                example: ""
              code:
                example: "0"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/device/room/{ID}/:
    delete:
      tags:
      - "Rooms"
      summary: "Delete Device from its Room"
      description: "This API is used to delete the device from its room with the device\
        \ id supplied as the required argument."
      operationId: "deleteDeviceRoom"
      parameters:
      - name: "ID"
        in: "path"
        description: "device id"
        required: true
        type: "integer"
        x-exportParamName: "ID"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              deleted:
                example: "true"
              id:
                example: "114"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/assets/room/:
    post:
      tags:
      - "Rooms"
      summary: "Add an asset to a room."
      description: "Add asset to room"
      operationId: "postAssetsRoom"
      parameters:
      - name: "room_id"
        in: "formData"
        description: "Room ID or UI > Tools > Export > Room"
        required: true
        type: "string"
        x-exportParamName: "RoomId"
      - name: "asset"
        in: "formData"
        description: "The name of the asset"
        required: true
        type: "string"
        x-exportParamName: "Asset"
      - name: "type"
        in: "formData"
        required: true
        type: "string"
        enum:
        - "Breaker Panel"
        - "AC"
        - "DMARC"
        x-exportParamName: "Type_"
      - name: "wall"
        in: "formData"
        description: "Choose 'middle' if you do not want the object to be placed along\
          \ one of the 4 walls."
        required: false
        type: "string"
        enum:
        - "left"
        - "right"
        - "top"
        - "bottom"
        - "middle"
        x-exportParamName: "Wall"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              msg:
                example: ""
              code:
                example: "0"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/assets/room/{id}/:
    delete:
      tags:
      - "Rooms"
      summary: "Delete an Asset from its Room"
      description: "This API is used to delete the asset with the asset id supplied\
        \ as the required argument from its room."
      operationId: "deleteAssetsRoom"
      parameters:
      - name: "id"
        in: "path"
        description: "device id"
        required: true
        type: "integer"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              deleted:
                example: "true"
              id:
                example: "114"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/racks/:
    get:
      tags:
      - "Racks"
      summary: "Get All Racks"
      description: "This API will retrieve basic information about all racks."
      operationId: "getRacks"
      parameters:
      - name: "name"
        in: "query"
        description: "filter by name (Added in v6.0.0)"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "building_id"
        in: "query"
        description: "filter by building ID (Added in v5.9.0)"
        required: false
        type: "string"
        x-exportParamName: "BuildingId"
        x-optionalDataType: "String"
      - name: "building"
        in: "query"
        description: "filter by building name"
        required: false
        type: "string"
        x-exportParamName: "Building"
        x-optionalDataType: "String"
      - name: "room_id"
        in: "query"
        description: "filter by room ID (Added in v5.9.0)"
        required: false
        type: "string"
        x-exportParamName: "RoomId"
        x-optionalDataType: "String"
      - name: "room"
        in: "query"
        description: "filter by room name. Only works if room ID is not present (Added\
          \ in v5.9.0)"
        required: false
        type: "string"
        x-exportParamName: "Room"
        x-optionalDataType: "String"
      - name: "size"
        in: "query"
        description: "filter by rack size in U"
        required: false
        type: "integer"
        x-exportParamName: "Size"
        x-optionalDataType: "Int32"
      - name: "row"
        in: "query"
        description: "filter by row name"
        required: false
        type: "string"
        x-exportParamName: "Row"
        x-optionalDataType: "String"
      - name: "asset_no"
        in: "query"
        description: "filter by asset number"
        required: false
        type: "string"
        x-exportParamName: "AssetNo"
        x-optionalDataType: "String"
      - name: "manufacturer"
        in: "query"
        description: "filter by manufacturer"
        required: false
        type: "string"
        x-exportParamName: "Manufacturer"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              limit:
                example: "2"
              offset:
                example: "0"
              racks:
                type: "array"
                items:
                  $ref: "#/definitions/racks"
              total_count:
                example: "275"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
    post:
      tags:
      - "Racks"
      summary: "Create a rack."
      description: "Create / Update Racks. Creating a new rack requires both <ul><li>name</li><li>size</li></ul><p>\
        \ However, if updating a rack, use </p> <ul><li>rack_id</li></ul> <p>or all\
        \ of</p> <ul><li>name</li><li>room</li> <li>building</li></ul><p> If using\
        \ room/building name, first combination of room name or room and building\
        \ name will be used.</p>"
      operationId: "postRacks"
      parameters:
      - name: "name"
        in: "formData"
        description: "Rack name - must be unique within a room"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "size"
        in: "formData"
        description: "In UI"
        required: true
        type: "integer"
        x-exportParamName: "Size"
      - name: "rack_id"
        in: "formData"
        description: "Required to update a rack using ID. This has highest priority\
          \ to update a rack."
        required: false
        type: "integer"
        x-exportParamName: "RackId"
        x-optionalDataType: "Int32"
      - name: "room"
        in: "formData"
        description: "Name of room - Required if changing a rack without rack_id."
        required: false
        type: "string"
        x-exportParamName: "Room"
        x-optionalDataType: "String"
      - name: "building"
        in: "formData"
        description: "Name of building - Used when there are non-unique room names."
        required: false
        type: "string"
        x-exportParamName: "Building"
        x-optionalDataType: "String"
      - name: "new_name"
        in: "formData"
        description: "Use to change name of object."
        required: false
        type: "string"
        x-exportParamName: "NewName"
        x-optionalDataType: "String"
      - name: "room_id"
        in: "formData"
        description: "Room ID if Room name is not unique"
        required: false
        type: "string"
        x-exportParamName: "RoomId"
        x-optionalDataType: "String"
      - name: "numbering_start_from_bottom"
        in: "formData"
        description: "default is yes, no to change, otherwise ignored."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "NumberingStartFromBottom"
        x-optionalDataType: "String"
      - name: "first_number"
        in: "formData"
        description: "default 0, add to change."
        required: false
        type: "string"
        x-exportParamName: "FirstNumber"
        x-optionalDataType: "String"
      - name: "row"
        in: "formData"
        description: "this row field is for the name of the rows, and not related\
          \ to the grid positioning of the rack"
        required: false
        type: "string"
        x-exportParamName: "Row"
        x-optionalDataType: "String"
      - name: "manufacturer"
        in: "formData"
        description: "name of the hardware/software manufacturer."
        required: false
        type: "string"
        x-exportParamName: "Manufacturer"
        x-optionalDataType: "String"
      - name: "notes"
        in: "formData"
        description: "Any additional notes"
        required: false
        type: "string"
        x-exportParamName: "Notes"
        x-optionalDataType: "String"
      - name: "start_row"
        in: "formData"
        description: "Starting row for rack, for grid positioning"
        required: false
        type: "string"
        x-exportParamName: "StartRow"
        x-optionalDataType: "String"
      - name: "start_col"
        in: "formData"
        description: "Starting column for the rack, for grid positioning"
        required: false
        type: "string"
        x-exportParamName: "StartCol"
        x-optionalDataType: "String"
      - name: "row_size"
        in: "formData"
        description: "How many rows long the rack is"
        required: false
        type: "string"
        x-exportParamName: "RowSize"
        x-optionalDataType: "String"
      - name: "col_size"
        in: "formData"
        description: "how many racks wide the rack is"
        required: false
        type: "string"
        x-exportParamName: "ColSize"
        x-optionalDataType: "String"
      - name: "orientation"
        in: "formData"
        description: "orientation of the rack in room layout view. Possible values:\
          \ right, left, up or down."
        required: false
        type: "string"
        enum:
        - "left"
        - "right"
        - "up"
        - "down"
        x-exportParamName: "Orientation"
        x-optionalDataType: "String"
      - name: "groups"
        in: "formData"
        description: "If multitenancy is on, admin groups that have access to this\
          \ object are specified here, e.g. Prod_East:no,Corp:yes specifies that the\
          \ admin groups for this object are Prod_East with view only permission and\
          \ Corp with change permission. If this parameter is present with no value,\
          \ all groups are deleted."
        required: false
        type: "string"
        x-exportParamName: "Groups"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              msg:
                example: ""
              code:
                example: "0"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/racks/{ID}/:
    get:
      tags:
      - "Racks"
      summary: "Retrieve detailed information about a specific rack including all\
        \ racked devices, assets and PDUs."
      description: "Get a Specific Rack"
      operationId: "getRacksID"
      parameters:
      - name: "ID"
        in: "path"
        description: "The ID of the rack to retrieve"
        required: true
        type: "integer"
        x-exportParamName: "ID"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              asset_no:
                example: ""
              assets:
                example: ""
              available_u:
                example: "10"
              building:
                example: "New Haven"
              custom_fields:
                type: "array"
                items:
                  type: "object"
                  properties:
                    key:
                      example: "Master Key?"
                    notes:
                      example: ""
                    value:
                      example: ""
              devices:
                type: "array"
                items:
                  $ref: "#/definitions/RackDevices"
              first_number:
                example: "0"
              manufacturer:
                example: "APC Inc."
              name:
                example: "NH-DC1-02"
              notes:
                example: ""
              number_between_us:
                example: "true"
              numbering_start_from_bottom:
                example: "yes"
              pdus:
                type: "array"
                items:
                  type: "object"
                  properties:
                    bootstrap_power:
                      example: "0.00 W"
                    depth:
                      example: "Half Depth"
                    file_names:
                      example: ""
                    name:
                      example: "USNHCTPDU-03"
                    num_ports:
                      example: "32"
                    orientation:
                      example: "Back"
                    pdu_id:
                      example: "16"
                    power_draw:
                      example: " "
                    reversed:
                      example: "no"
                    size:
                      example: "1"
                    start_at:
                      example: ""
                    total_ports:
                      example: "32"
                    where:
                      example: "Right"
                    width:
                      example: "2520"
                    xpos:
                      example: "0"
              rack_id:
                example: "21"
              rack_middle_option:
                example: "Start at"
              rack_url:
                example: "/api/api/1.0/racks/21/"
              room:
                example: "NHDC1"
              row:
                example: ""
              row_size:
                example: "1"
              size:
                example: "42"
              start_col:
                example: "29"
              start_row:
                example: "10"
              tags:
                example: ""
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
    delete:
      tags:
      - "Racks"
      summary: "This API is used to delete the rack with the rack id supplied as the\
        \ required argument."
      description: "Delete Rack"
      operationId: "deleteRacksID"
      parameters:
      - name: "ID"
        in: "path"
        description: "rack id"
        required: true
        type: "integer"
        x-exportParamName: "ID"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              deleted:
                example: "true"
              id:
                example: "114"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
          description: "Internal Server Error (Some parameter missing or issue with\
            \ the server. Check with returned “msg” from the call.)"
          examples:
            errors:
            - code: 500
              reason: "Internal Server Error"
              title: "Internal Server Error"
              detail: "Some parameter missing or issue with the server. Check with\
                \ returned “msg” from the call."
        "503":
          description: "Service Unavailable (Please check if your Device42 instance\
            \ is working normally.)"
          examples:
            errors:
            - code: 503
              reason: "Service Unavailable"
              title: "Service Unavailable"
              detail: "Please check if your Device42 instance is working normally."
  /api/1.0/custom_fields/rack/:
    put:
      tags:
      - "Racks"
      summary: "Create/update custom fields for racks."
      description: "Create or update custom fields for racks. \"ID\" or \"name\" of\
        \ rack is needed even when value is not being changed."
      operationId: "putCustom_fieldsRack"
      parameters:
      - name: "name"
        in: "formData"
        description: "name of room"
        required: false
        type: "string"
        x-exportParamName: "Name"
        x-optionalDataType: "String"
      - name: "id"
        in: "formData"
        description: "Rack ID or UI > Tools > Export > Rack"
        required: false
        type: "string"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "key"
        in: "formData"
        description: "Can be new or existing. This is the custom field name."
        required: true
        type: "string"
        x-exportParamName: "Key"
      - name: "type"
        in: "formData"
        description: "this is the custom field type. If left blank, default is text.\
          \ Date should be formatted as YYYY-MM-DD"
        required: false
        type: "string"
        enum:
        - "text"
        - "number"
        - "date"
        - "related_field"
        - "boolean"
        - "url"
        - "json"
        - "markup"
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "related_field_name"
        in: "formData"
        description: "Required if type = related field."
        required: false
        type: "string"
        enum:
        - "appcomp"
        - "building"
        - "certificate"
        - "circuit"
        - "costcenter"
        - "customer"
        - "device"
        - "dns_zone"
        - "endusers"
        - "hardware"
        - "ip_address"
        - "mactable"
        - "os"
        - "room"
        - "servicecategory"
        - "software_category"
        - "software"
        - "vlan"
        - "netport"
        x-exportParamName: "RelatedFieldName"
        x-optionalDataType: "String"
      - name: "add_to_picklist"
        in: "formData"
        description: "Comma separated values to add to picklist. If type is picklist\
          \ and custom field is new, this is a required field. Duplicates will be\
          \ ignored."
        required: false
        type: "string"
        x-exportParamName: "AddToPicklist"
        x-optionalDataType: "String"
      - name: "value"
        in: "formData"
        description: "This will set the value of the custom field for the specific\
          \ object."
        required: false
        type: "string"
        x-exportParamName: "Value"
        x-optionalDataType: "String"
      - name: "clear_value"
        in: "formData"
        description: "yes to clear existing value for that field"
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ClearValue"
        x-optionalDataType: "String"
      - name: "notes"
        in: "formData"
        description: "Any additional notes"
        required: false
        type: "string"
        x-exportParamName: "Notes"
        x-optionalDataType: "String"
      - name: "clear_notes"
        in: "formData"
        description: "Yes to clear any existing notes."
        required: false
        type: "string"
        enum:
        - "yes"
        - "no"
        x-exportParamName: "ClearNotes"
        x-optionalDataType: "String"
      - name: "bulk_fields"
        in: "formData"
        description: "comma separated key value pairs, with key and value separated\
          \ by colon. e.g.key1:value1, key2:value2"
        required: false
        type: "string"
        x-exportParamName: "BulkFields"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "The above command returns results like this:"
          schema:
            properties:
              msg:
                example: ""
              code:
                example: "0"
        "400":
          description: "Bad Request (A validation exception has occurred.)"
          examples:
            errors:
            - code: 400
              reason: "BAD_REQUEST"
              title: "The error response code title."
              detail: "Details of the error response."
        "401":
          description: "Unauthorized (Your credentials suck)"
          examples:
            errors:
            - code: 401
              reason: "Unauthorized"
              title: "Unauthorized"
              detail: "Your credentials suck"
        "403":
          description: "Forbidden (The resource requested is hidden)"
          examples:
            errors:
            - code: 403
              reason: "Forbidden"
              title: "Forbidden"
              detail: "The resource requested is hidden"
        "404":
          description: "Not Found (The specified resource could not be found)"
          examples:
            errors:
            - code: 404
              reason: "Not Found"
              title: "Not Found"
              detail: "The specified resource could not be found."
        "405":
          description: "Method Not Allowed (You tried to access a resource with an\
            \ invalid method)"
          examples:
            errors:
            - code: 405
              reason: "Method Not Allowed"
              title: "Method Not Allowed"
              detail: "You tried to access a resource with an invalid method"
        "410":
          description: "Gone (The resource requested has been removed from our servers)"
          examples:
            errors:
            - code: 410
              reason: "Gone"
              title: "Gone"
              detail: "The resource requested has been removed from our servers."
        "500":
[...]
